body{
	background-color: #0079bf;
	color: white;
	font-family: 'Lato', sans-serif;
}
.chat-box{
	height: 75vh;
	overflow-y: scroll;
	background-color: aliceblue;
	color: black;
	width: 66%;
	margin: auto;
	border-radius: 5px;
	border: 2px solid black;
}
.chat-box > div{
	margin: 2% 10%;
}
.user{
	font-weight: bold;
}
.connection, .disconnection{
	font-style: italic;
	color: gray;
}
.mention{
	color: #0000EE;
	cursor: pointer;
}
.link{
	color: white;
	cursor: pointer;
}
.mention:hover, .link:hover{
	text-decoration: underline;
}
#error{
	color: black;
}